// .FoodCard {
//     border: 1px solid black;
//     display: flex;
//     width: fit-content;
//     height: fit-content;
//     border-radius: 10px;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//     background-color: white;

//     .Image {
//         border-radius: 20px;
//         margin-right: 20px;
//         border: 1px solid black;
//     }

//     .Rating {
//         margin-left: 75px;
//         position: relative;
//         font-size: 18px;

//         &:after {
//             content: "";
//             width: 30px;
//             height: 30px;
//             position: absolute;
//             top: -5px;
//             left: 30px;
//             background-image: url('../../assets/star.svg');
//         }
//     }

//     .AddToCart {
//         display: block;
//         width: 170px;
//         height: 70px;
//         background-color: #FE724C;
//         border-radius: 15px;
//         padding-left: 80px;
//         padding-top: 15px;
//         color: white;
//         position: relative;
//         cursor: pointer;

//         &:hover {
//             box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
//             transition-duration: .1s; 
//         }

//         &:before {
//             content: "";
//             width: 50px;
//             height: 50px;
//             position: absolute;
//             top: 10px;
//             left: 5px;
//             background-repeat: no-repeat;
//             background-image: url('../../assets/bag.svg');
//             background-position-x: 17px;
//             background-position-y: 15px;
//             background-color: white;
//             border-radius: 25px;
//         }
//     }

//     .Price {
//         font-size: 20px;
//         font-weight: bold;
//         color: #FE724C;
//     }
    
//     .Name {
//         font-size: 25px;
//         color: black;
//     }
// }

.FoodCard {
    padding: 10px;
    min-height: 358px;
    width: fit-content;
    height: fit-content;
    width: 240px;
    background-color: white;
    border-radius: 20px;
    transition: .2s ease box-shadow;

    .Image {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    .Price {
        font-weight: 400;
        font-size: 28px;
    }

    .Name {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Weight {
        color: #9E9B98;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .AddingButton {
        background-color: #FE724C;
        color: white;
        border-radius: 15px;
        padding: 10px 20px;
        width: 100%;
        border: 0px;
        cursor: pointer;
        font-weight: 600;

        &:hover {
            box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
            transition-duration: .1s; 
        }
    }
}