.FetchError {
    display: flex;
    justify-content: center;

    .FetchError_Title {
        font-weight: 300;
        color: #67666D;
    }
}

.NothingFound, .Fetching {
    font-weight: 300;
    color: #67666D;
}