.PersonalAccount {
    display: flex;
    margin: 50px 0px;

    .PersonalAccount_Form {
        margin-right: 50px;

        .Title {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    .PersonalAccount_Options {
        margin-top: 70px;
        list-style-type: none;

        .PersonalAccount_Option {
            width: 200px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 18px;
            color: rgb(161, 161, 161);
            padding: 20px;
        }
    }
}