.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .LeftSide {
        display: flex;

        .Image {
            border-radius: 20px;
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        .Description {
            .Description_Name {
                width: 200px;
                margin-bottom: 15px;
                font-size: 25px;
                color: black;
            }

            .Description_PriceWeight {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Description_Price {
                    font-weight: bold;
                    font-size: 20px;
                    color: #FE724C;
                }

                .Description_Weight {
                    font-weight: 300;
                    color: #67666D;
                }
            }
        }
    }

    .RightSide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        .Decrease,
        .Increase {
            border: 1px solid #FE724C;
            border-radius: 20px;
            width: 30px;
            height: 30px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
                transition-duration: .1s;
            }
        }

        .Decrease {
            color: #FE724C;
            background-color: white;
        }

        .Increase {
            color: white;
            background-color: #FE724C;
        }

        .Counter {
            font-size: 20px;
            font-weight: 400;
        }
    }
}