.Menu {
    background: rgb(246, 244, 244);
    padding: 50px 0px 10px 0px;

    h1 {
        color: #323643;
        font-size: 18px;
    }

    .Categories {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    .FoodCards {
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.NothingFound, .FetchError {
    display: flex;
    justify-content: center;
    width: 100vw;

    .NothingFound_Title, .FetchError_Title {
        font-weight: 300;
        color: #67666D;
    }
}

.NothingFound {
    margin-top: 50px;
}

.FetchError {
    margin-top: 150px;
}



