.Menu {
    background: rgb(246, 244, 244);
    padding: 50px 0px 10px 0px;
    min-height: 100vh;

    .Categories {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    .FoodCards {
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.NothingFound {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 50px;
}

.FetchError {
    background: rgb(246, 244, 244);
    padding: 150px 0px 10px 0px;
    min-height: 100vh;
    text-align: center;
}

.NothingFound_Title, .FetchError_Title {
    font-weight: 300;
    color: #67666D;
}