.StatusCircle {
    display: inline-block;
    border-radius: 90px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.DropdownTable_Title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}