.Button {
    display: block;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 15px;
        transition-duration: .5s;
    }

    &:disabled,
    button[disabled] {
        background-color: #cccccc;
        color: #e6e4e4;
    }
}