.Header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    width: 100%;

    .LogoSearch {
        padding-left: 20px;
        display: flex;
        align-items: center;

        .Logo {
            width: 105px;
            height: 100px;
            margin-right: 5rem;
            cursor: pointer;
        }

        .Search {
            position: relative;
            margin-right: 21rem;

            &::before {
                content: "";
                width: 50px;
                height: 50px;
                position: absolute;
                top: 11px;
                left: 10px;
                background-repeat: no-repeat;
                background-image: url('../../assets/images/search.svg');
            }

            .SearchInput {
                width: 500px;
                border: 1px solid grey;
                padding: 12px 40px;
                border-radius: 25px;
            }

            .Autocomplete {
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                background: white;
                list-style: none;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
                z-index: 100;
                max-height: 240px;
                height: auto;
                overflow: auto;

                .Autocomplete_Option {
                    padding: 10px;

                    &:hover {
                        background: rgb(240, 236, 236);
                        cursor: pointer;
                        transition: cubic-bezier(1, 0, 0, 1) .3s all;
                    }
                }
            }
        }
    }

    .CartProfile {
        display: flex;
        align-items: center;
        padding-right: 20px;
        
        .Cart {
            display: flex;
            cursor: pointer;
            margin-right: 2rem;
    
            .Cart_Counter {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 20px;
                border-radius: 10px;
                background-color: red;
                color: white;
                font-weight: bold;
                margin-bottom: 30px;
            }
        }

        .Profile {
            display: flex;
            align-items: center;

            .Username {
                color: #323643;
                font-size: 14px;
                font-weight: 700;
            }

            .Avatar {
                width: 100px;
                height: 100px;
                cursor: pointer;
            }

            .DropdownMenu {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                position: absolute;
                top: 80px;
                right: 10px;
                z-index: 100;
            }
        }

        .SignIn {
            display: flex;
            width: 100px;
            color: rgb(161, 161, 161);
            cursor: pointer;

            .SignInLabel {
                font-size: 20px;
            }
        }

        .ToggleMenu {
            display: none;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}