$red: rgba(219, 89, 64, 255);

.PaymentError {
    margin: 70px 0px;
    width: 30vw;
    padding: 40px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .Crossmark {
        margin: 0px auto 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $red;
        font-size: 24px;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 90px;
    }

    .Title {
        color: $red;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }

    .Message {
        text-align: center;
        color: #7c7c7c;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .ReturnButton {
        display: block;
        margin: 0 auto;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        background-color: $red;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;

        &:hover {
            box-shadow: rgba(80, 63, 205, 0.5) 0 1px 15px;
            transition-duration: .5s;
        }
    }
}