.App {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    // height: 100vh;
    // width: 100vw;
}

.Slide {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 150px;
    }

    span {
        padding: 20px;
        font-size: 20px;
        background: #efefef;
        text-align: center;
    }
}