$orange: #FE724C;

.Counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

    .Decrease,
    .Increase {
        border: 1px solid $orange;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .Decrease {
        color: $orange;
        background-color: white;
    }

    .Increase {
        color: white;
        background-color: $orange;
    }
}